* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 740px;
    display: flex;
    margin: auto;
    height: 515px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5%;
}


section {
    width: 370px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section:first-child {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding-inline: 56px;
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
}

section:last-child {
    justify-content: space-around;
}

.container section:last-child ul {
    list-style: none;
}

.container section:last-child ul li {
    display: flex;
    width: 295px;
    height: 55px;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0 15px;
}

.container section:last-child ul li span {
    font-weight: 700;
    margin-left: 10px;
}

.container section:last-child ul li span:last-child {
    color: grey;
}

/********* background li *************/

.container section:last-child ul li:first-child {
    background-color: hsla(0, 100%, 67%, 0.1);
}


.container section:last-child ul li:nth-child(2) {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.container section:last-child ul li:nth-child(3) {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.container section:last-child ul li:nth-child(4) {
    background-color: hsl(234, 85%, 45%, 0.1);
}

/******* color li ****************/

.container section:last-child ul li:first-child>.skill>span {
    color: hsla(0, 100%, 67%);
}

.container section:last-child ul li:nth-child(2)>.skill>span {
    color: hsla(39, 100%, 56%);
}

.container section:last-child ul li:nth-child(3)>.skill>span {
    color: hsla(166, 100%, 37%);
}

.container section:last-child ul li:nth-child(4)>.skill>span {
    color: hsla(234, 85%, 45%);
}

section:last-child>h2 {
    /* width: 100%; */
    margin-right: 180px;
}

section:first-child h2,
p {
    color: hsl(241, 100%, 89%)
}

section:first-child>p {
    width: 250px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;

}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(241, 100%, 80%)
}

.circle span {
    font-size: 70px;
    font-weight: 700;
}

section:first-child span {
    color: hsl(0, 0%, 100%);
}

section:first-child>span {
    font-size: 30px;
    font-weight: 600;
}

button {
    background-color: hsl(224, 30%, 27%);
    width: 285px;
    height: 55px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 20px
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/******* Responsive *****************/

@media (max-width: 750px) {

    body {
        align-items: start;
    }

    .container {
        display: block;
        margin: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    section {
        height: 500px;
        width: 100%;
    }

    section:first-child {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }
}